{
  "stellarNetwork": "testnet",
  "stellarAccountSecret": "<ed25519 secret seed>",
  "ethereumNetwork": "rinkeby",
  "ethereumRPC": "http://localhost:8545",
  "ethereumPublicAddress": "<ethereum public address>",
  "telehashHashname": "<hashname>"
}
